.tabcontrol {
    flex-grow: 1;
    /* max-height: 36px; */
    overflow: hidden;
    width: 250px;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
}


.tabheaders {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    flex-grow: 1;
    min-height: 31px;
    max-height: 31px;
    padding: 0px;
}


.tabheader.style2 {
    display: inline-block;
    padding: 4px;
    cursor: pointer;
    height: 100%;
    margin: 0px;
    text-align: center;
    border: none;
    border-bottom: 3px solid white;
    background-color: white;
}

.tabheader.style2.selected {
    border: none;
    border-bottom: 3px solid #0058AC;
}

.tabheader {
    display: inline-block;
    border-top: 2px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 4px;
    width: 100px;
    cursor: pointer;
    height: 100%;
    margin-right: 4px;
    background-color: whitesmoke;
}

.tabheader.selected {
    border-top: 3px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
}

.tabheader span {
    overflow: hidden;
    white-space:nowrap;
    text-overflow:clip;
    width:71px;
    display: block;
    padding: 2px;
    user-select: none;
    float: left;
}

.tabheader span br {
    display: none;
}

.tabheader span[contenteditable="true"] {
    background-color: White;
    color: darkblue;
    border: 1px solid lightblue;
}

.tabheader i {
    display: none;
    float: right;
    cursor: pointer;
    margin-top: 2px;
    font-size: 14px;
}

.tabheader i:hover {
    color: maroon;
}

/*
.tabheader:hover {
}
*/

/* If hover above a selected tab display the settings image */
.tabheader.selected:hover i {
    display: block;
}

.tabheadermenu {
    display: none;
    width: 24px;
    position: absolute;
    border:1px solid lightgray;
    padding: 1px;
    background-color: white;
    font-size: 14px;
    z-index: 100;
}

.tabheadermenu > div {
    width: 100%;
    display: block;
    cursor: pointer;
    background-color: white;
    padding: 4px;
}

.tabheadermenu > div:hover {
    /*background-color: whitesmoke;*/
    color: maroon;
}

.tabcommands {
    display: block;
    height: 100%;
    min-width: 48px;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.tabcommand {
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.tabcommand.left {
    font-size: 16px;
    margin-top: 8px;
}

.tabcommand.left:active {
    margin-top: 9px;
}


.tabcommand.right {
    font-size: 16px;
    margin-top: 8px;
}

.tabcommand.right:active {
    margin-top: 9px;
}

.tabcommand.add {
    font-size: 12px;
    margin-top: 10px;
}

.tabcommand:hover {
    color: maroon;
}

.tabpage {
    background-color: White;
    flex-grow: 1;

    font-size: 16px;

    /* display: flex;
    flex-direction: column; */
}
